/* You can place your global styles here */

/* A postcss-import import */
@import "./typography.css";

/* Element rules work globally, so use .class selectors when using in React components */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* precss variable + cssnext hsl() function */
$bg-color: hsl(220, 25%, 25%);

body {
  background: $bg-color;
  color: #fff;
}

a {
  color: #fff;
}

.title-row .title-right-items {
  float: right;
  background-color: inherit;
  line-height: 0;
  text-indent: 0;
}

.title-row {
  .aria-play-button-container {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 8px;
  }

  .column-content {
    display: inline-block;
  }
}

.icon-container {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
  pointer-events: none;
}

.playing {
  background: yellow;
  color: black;
}
